.profile {
    width: 520px;
    margin: 50px 0;
    padding: 36px;
    font-weight: 700;
    /* border: 8px solid rgb(34, 33, 33); */
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    padding: 20px;
    margin: 20px;
    width: 180px;
    height: 180px;
    outline: 1px solid #969696;
    border-radius: 50%;
    background-color: #e6eef4;
}

.name {
    font-size: 40px;
    font-weight: 600;
    margin: 10px;
}

.tag {
    font-size: 25px;
    font-weight: 400;
    color: #959595;
    margin: 10px;
}

.location {
    font-size: 25px;
    font-weight: 400;
    color: #959595;
    margin: 10px;
}

.stats {
    display: flex;
    padding-inline-start: 0;

}

.stats li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 200px;
    padding: 20px 0;
    margin: 0 10px;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    background-color: #e6eef4;
    text-transform: uppercase;
}

/* .stats li:not(:last-child) {
    border-right: 1px solid #b5b5b5;
} */

.label {
    font-size: 15px;
    color: grey;
}

.quantity {
    font-size: 25px;
    font-weight: 700;
}