.statistics {
    margin-bottom: 50px;
    padding: 36px;
    font-weight: 700px;
    /* border: 1px solid #000000; */
    border-radius: 10px;
    background-color: #ffffff;
    /* width: 40%; */
}

.title {
    /* padding: 50px; */
    margin-bottom: 36px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}

.statList {
    display: flex;
    padding-inline-start: 0;


}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin: 0 10px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    /* border-top: 1px solid #000000; */
}

.label {
    font-size: 20px;
    color: #000000;
}

.percentage {
    font-size: 30px;
    color: #000000;
    font-weight: 500;
}