.statistics {
    margin: 50px;
    padding: 36px;
    font-weight: 700px;
    /* border: 1px solid #000000; */
    border-radius: 10px;
    background-color: #ffffff;
    /* width: 40%; */
}

.title {
    /* padding: 50px; */
    margin-bottom: 36px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}

.statList {
    display: flex;
    padding-inline-start: 0;

}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 15px 20px;
    width: 100%;
    /* border-top: 1px solid #000000; */
}

.label {
    font-size: 25px;
    color: #000000;
}

.percentage {
    font-size: 25px;
    color: #000000;
}